[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "public/sqlbuddy"]
	path = public/sqlbuddy
	url = git://github.com/git-mirror/sqlbuddy.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/kogitlog"]
	path = modules/kogitlog
	url = git@github.com:Burgestrand/kogitlog.git
[submodule "modules/sprig"]
	path = modules/sprig
	url = git://github.com/shadowhand/sprig.git
[submodule "modules/template"]
	path = modules/template
	url = git@github.com:Burgestrand/template.git
