[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "public/sqlbuddy"]
	path = public/sqlbuddy
	url = git://github.com/git-mirror/sqlbuddy.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = git://github.com/kohana/userguide.git
[submodule "modules/sprig"]
	path = modules/sprig
	url = git://github.com/Burgestrand/sprig.git
[submodule "modules/template"]
	path = modules/template
	url = git@github.com:Burgestrand/template.git
[submodule "modules/sprig-auth"]
	path = modules/sprig-auth
	url = git://github.com/banks/sprig-auth.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/kohana-email"]
	path = modules/kohana-email
	url = git://github.com/banks/kohana-email.git
