/*
 Författare: Kim Burgestrand (http://burgestrand.se/)
 Beskrivning: En stilmall för felsidor.

 Licens: http://www.gnu.org/licenses/lgpl-3.0.txt
 
*/

@font-face
{
    font-family: "Museo Sans";
    src: url('/css/fonts/MuseoSans_500.otf');
}

html,body
{
    background: #1d1d1d;
	color: #aaa;
}

body
{
    font: 89%/1.35 'Museo Sans', 'Helvetica', 'Verdana', sans-serif;
    margin: 4em auto 0;
	width: 38em;
}

a
{
	border-bottom: 1px solid;
	color: #69C;
	text-decoration: none;
}

h1
{
	border-bottom: 1px solid #69C;
	color: #ddd;
	font-size: 2.4em;
	margin: 0 0 .5em 0;
	text-align: center;
}