# Turn on URL rewriting
RewriteEngine On
RewriteBase /

# Do not enable rewriting for files or directories that exist
RewriteCond %{REQUEST_FILENAME} !-f

# Final rewrite for pretty URLs
RewriteRule ^(.*)$ index.php/$1 [PT,L]