/*
 Författare: Kim Burgestrand (http://burgestrand.se/)
 Beskrivning: ?

 Licens: http://www.gnu.org/licenses/lgpl-3.0.txt
*/

body {
    font-size: 89%;
    line-height: 1.2em;
    }

/* =1 Global
---------------------------------------------------------------------------- */

/* =2 Links
---------------------------------------------------------------------------- */

/* =3 Headings
---------------------------------------------------------------------------- */

/* =4 Tables
---------------------------------------------------------------------------- */

/* =5 Forms
---------------------------------------------------------------------------- */

