/*
    Författare: Kim Burgestrand (http://burgestrand.se/)
    Beskrivning: En kopia av Änglarna Stockholms tidigare design.

    Licens: http://www.gnu.org/licenses/lgpl-3.0.txt
*/

@font-face
{
    font-family: "Museo Sans";
    src: url('/css/fonts/MuseoSans_500.otf');
}

html,body
{
    background: white url('img/brick.jpg');
    height: 100%;
    width: 100%;
}

body
{
    color: #333;
    font: 89%/1.25 'Museo Sans', 'Helvetica', 'Verdana', sans-serif;
    margin: 0;
}

/* one-liners */
.hide
{ display: none; }
.clear
{ clear: both; }

/* lists */
ul li, ol li
{ list-style-position: inside; }
dl, ul, ol
{ margin: 0 .5em .5em; }

/* links */
a
{
    border-bottom: 1px solid;
    text-decoration: none;
}
a:link
{ color: #369; }
a:visited
{ color: #369; }
a:hover
{
	border: 0;
    outline: 1px dotted;
}
a:active
{ color: #090; }

/*
 * -------------------------------------------------------------------------
 * =& Structure
 * -------------------------------------------------------------------------
 */

.main, .wrap
{
    height: auto;
    margin: 0 auto;
    width: 67.4em;
}
.main
{
    background: white;
    border-left: 1px solid;
    border-right: 1px solid;
    min-height: 100%;
}

/* Header */
.panel ~ .main > .header { padding-top: 2em; } /* panel push-down */
.main > .header 
{
    background: #147;
    border-bottom: 1px solid;
	text-align: center;
}
.main > .header > a
{
	border: 0;
	display: block;
	height: 107px;
	margin: 0 auto;
	width: 746px;
	position: relative;
}

/* Body */
.body 
{
    clear: both;
    padding: .5em .5em 2em;
}
	.body.sidebar /* body followed by sidebar */
	{
		float: left;
		width: 70%;
	}

/* Sidebar */
.aside 
{
    float: right;
    overflow: hidden;
    padding: .5em .5em 0 0;
    width: 26%;
}


/* Footer */
.footer
{
	margin: 0;
	padding: 1em 0;
	text-align: center;
}

/*
 * -------------------------------------------------------------------------
 * =& Widgets
 * -------------------------------------------------------------------------
 */


/* Panel */
.panel 
{
    background: #147;
    border-bottom: .4em solid #0b3e6f;
    color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    z-index: 99;
}
    .panel p 
	{
        line-height: 2em; /* .panel.height */
        max-width: 100%;
        margin: 0 1em;
	}
    .panel a 
	{
        border: 0;
        color: #9CF !important; /* avoid pseudoclass coloring */
	}
    .panel .actions
	{
		float: right;
	}


/* Navigation */
.nav 
{
	float: left;
	left: 50%;
    margin: 0 0 .5em 0;
    font-size: 120%;
    position: relative;
	overflow: visible;
}
.nav + *
{
	clear: left;
}
	.nav li 
	{
		float: left;
		left: -50%;
		list-style-type: none;
		margin-right: 1em;
		position: relative;
	}
	.nav li a 
	{
		border: 0;
		color: white;
		display: block;
		padding: .3em .8em .1em;
	}
	.nav li.active a 
	{
		background: white;
		color: #147;
	}


/* Box */
.box
{
    border: 1px solid;
    margin-bottom: .5em;
    overflow: auto;
    padding: 0 .5em;
    width: auto;
}
	.box > *:first-child /* DANGER?! */
	{
	    background: #369;
	    border-bottom: 1px solid #333;
	    color: white;
	    font-size: 120%;
	    font-weight: normal;
	    letter-spacing: 1px;
	    margin: 0 -.42em .42em;
	    padding: .2em .5em .2em;
	}


/* Messages */
ul.message
{
    border: 1px solid #666;
    font-size: 1.2em;
    margin: 0 0 .5em;
    padding: .5em 1em;
}
	ul.message li
	{ list-style: none; }
	ul.message.error
	{
		background: #CC2929;
		color: white;
	}
	ul.message.info
	{
		background: #369;
		color: white;
	}
		ul.message.info a
		{
			color: #adf;
		}
		

/*
 * -------------------------------------------------------------------------
 * =& Widget Tweaking
 * -------------------------------------------------------------------------
 */


.nav.site
{
	background: #369;
	border-top: 1px solid;
	left: 0;
	margin: 0;
	width: 100%; /* some strangeness with float */
}
	.nav.site li
	{
		left: 0;
	}
	.nav.site li:first-child
	{
		margin-left: .5em;
	}

/*
 * -------------------------------------------------------------------------
 * =& Forms
 * -------------------------------------------------------------------------
 */


form ul, form ol, form dl
{ margin: 0; }
form li
{ list-style: none; }
form dd
{
	color: #999;
	margin: 0 0 .5em 0;
}
label
{
	color: #666;
	font-weight: bold;
	width: 98%;
}
label input, label textarea
{
	/* voodoo-fix */
	margin: .2em 0 .5em;
	padding: .2em;
}
input[type="submit"]
{
	background: #369 url('img/stripes.png');
	border: 1px solid black;
	color: white;
	cursor: pointer;
	letter-spacing: 1px;
	font-size: 120%;
	font-weight: bold;
	text-shadow: black 1px 1px 1px;
	padding: .2em 0;
	width: 100%;
}
input[type="submit"]:active
{
	background-color: #693;
}
/* http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not/1033745#1033745 */
.voodoo
{
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	width: 100%;
}

/*
 * -------------------------------------------------------------------------
 * =& PAGE: START
 * -------------------------------------------------------------------------
 */


.about img
{
	float: left;
	margin: 0 1em .5em 0;
}

/*
 * -------------------------------------------------------------------------
 * =& PAGE: FORUM
 * -------------------------------------------------------------------------
 */

/* Posts */
.posts
{
	margin: 0;
}
	.posts li
	{
		list-style: none !important;
		margin: 0;
		padding: .5em 0;
	}
	.posts .message /* content */
	{
		overflow: auto;
		white-space: pre-wrap;
	}

p.meta
{
	border-bottom: 1px solid #ddd;
	color: #999;
	margin: 0 0 .2em;
}
	p.meta .date
	{
		float: right;
	}
	p.meta + *
	{
		clear: both;
	}

/* Forum Selection */
.nav.forums
{
}
	.nav.forums li
	{
		background: #369;
		border: 1px solid;
	}

/* Paging */
.nav.paging
{
	background: inherit;
	border: 0;
	font-size: 1em;
	margin: 1.5em 0;
	overflow: visible;
	text-align: center;
}
	.nav.paging li
	{
		display: inline;
		float: none;
		width: auto;
	}
		.nav.paging li a
		{
			color: #09c;
			display: inline;
		}